django==1.8.18
mezzanine==4.2.3
xlrd==1.1.0
xlwt==1.3.0
-e git+https://github.com/jonge-democraten/python-ldap@py3#egg=python-ldap
-e git+https://github.com/jonge-democraten/hemres@0.22#egg=hemres
-e git+https://github.com/jonge-democraten/janeus@1.5#egg=janeus
mysqlclient==1.3.13
bleach==2.1.2
unidecode==1.0.22
