django==1.8.18
mezzanine==4.2.2
xlrd==1.1.0
xlwt==1.3.0
-e git+https://github.com/jonge-democraten/python-ldap@py3#egg=python-ldap
-e git+https://github.com/jonge-democraten/hemres@0.15#egg=hemres
-e git+https://github.com/jonge-democraten/janeus@1.5#egg=janeus
mysqlclient==1.3.12
# add explicit bleach verion due to undocument incompatibility of mezzanine 4.1 and bleach 2.0, https://github.com/stephenmcd/mezzanine/issues/1741
bleach==1.5
unidecode==0.04.20
