django==1.8.16
mezzanine==4.1.0
xlrd==1.0.0
xlwt==1.1.2
-e git+https://github.com/jonge-democraten/python-ldap@py3#egg=python-ldap
-e git+https://github.com/jonge-democraten/hemres@0.14#egg=hemres
-e git+https://github.com/jonge-democraten/janeus@1.4#egg=janeus
